In [1]:
import pandas as pd
import numpy as np

In [51]:
df1=pd.read_csv("AslLens-dataset_1.csv")

In [52]:
df2=pd.read_csv("ASLens-dataset_2.csv")

In [53]:
df3=pd.read_csv("ASLens-dataset_3.csv")

In [54]:
df4_1=pd.read_csv("ASLens-dataset_4_1.csv")
df4_2=pd.read_csv("ASLens-dataset_4_2.csv")
df4_3=pd.read_csv("ASLens-dataset_4_3.csv")
df4_4=pd.read_csv("ASLens-dataset_4_4.csv")

In [55]:
df5=pd.read_csv("ASLens-dataset_5.csv")

In [56]:
df6=pd.read_csv("ASLens-dataset_6.csv")

In [57]:
len(df1)+len(df2)+len(df3)+len(df4_1)+len(df4_2)+len(df4_3)+len(df4_4)+len(df5)+len(df6)

182

In [58]:
full_df=pd.concat([df1,df2,df3,df4_1,df4_2,df4_3,df4_4,df5,df6], axis=0)
full_df.index=np.arange(0,len(full_df))

In [59]:
len(full_df)

182

In [60]:
full_df[full_df["landmarks"].duplicated()]

     Unnamed: 0    file_name       landmarks
92            2  _g0fpC8aiME  _g0fpC8aiME.h5
102           5  fZIHe3dXPR0  fZIHe3dXPR0.h5
108           3  fZM3IcM2Xs4  fZM3IcM2Xs4.h5
113           0  f_zna_wG3zo  f_zna_wG3zo.h5
114           1  fzDHRCKr7wU  fzDHRCKr7wU.h5
117           4  fZq8wTAYtmw  fZq8wTAYtmw.h5
146          28  fzQ2E3_xBZA  fzQ2E3_xBZA.h5

In [61]:
full_df=full_df[full_df["landmarks"].duplicated()==False]
full_df.drop("Unnamed: 0",inplace=True,axis=1)
full_df.index=np.arange(0,len(full_df))

In [67]:
full_df

        file_name        landmarks
0     FzmL8SL6Bow   FzmL8SL6Bow.h5
1     FZrU_mEryAs   FZrU_mEryAs.h5
2     -g45vqccdzI   -g45vqccdzI.h5
3     FzUdcaxw_vs   FzUdcaxw_vs.h5
4     -g0iPSnQt6w   -g0iPSnQt6w.h5
..            ...              ...
170   g2wUCRRni28   g2wUCRRni28.h5
171   g2QdwYqm8pg   g2QdwYqm8pg.h5
172   g2SdWBPoXZ0   g2SdWBPoXZ0.h5
173  g2ELiaFjKfs-  g2ELiaFjKfs-.h5
174   g2NA_eBUcH8   g2NA_eBUcH8.h5

[175 rows x 2 columns]

In [65]:
full_df.to_csv("ASLens-landmarks.csv",index=False, encoding='utf-8')

# Add number of frames

In [73]:
import pandas as pd
import numpy as np
import h5py
df=pd.read_csv("ASLens-landmarks.csv")

In [92]:
file_name="g2wUCRRni28.h5"
f = h5py.File("landmarks/"+file_name, 'r')
print(f['faceLips'].shape[0])
f.close()

952

In [85]:
f.close()

In [88]:
num_of_frames=[]
for row in df["landmarks"]:
    f = h5py.File("landmarks/"+row, 'r')
    num_of_frames.append(f['faceLips'].shape[0])
    f.close()

In [90]:
df["frames"] = pd.Series(num_of_frames)

In [91]:
df

        file_name        landmarks  frames
0     FzmL8SL6Bow   FzmL8SL6Bow.h5    1196
1     FZrU_mEryAs   FZrU_mEryAs.h5    1213
2     -g45vqccdzI   -g45vqccdzI.h5    1332
3     FzUdcaxw_vs   FzUdcaxw_vs.h5    1826
4     -g0iPSnQt6w   -g0iPSnQt6w.h5    1657
..            ...              ...     ...
170   g2wUCRRni28   g2wUCRRni28.h5     952
171   g2QdwYqm8pg   g2QdwYqm8pg.h5    1129
172   g2SdWBPoXZ0   g2SdWBPoXZ0.h5    1678
173  g2ELiaFjKfs-  g2ELiaFjKfs-.h5    1091
174   g2NA_eBUcH8   g2NA_eBUcH8.h5    2225

[175 rows x 3 columns]

In [93]:
df.to_csv("ASLens-landmarks.csv",index=False, encoding='utf-8')